page-quotes {
    .author {
        color: #ccc;
        text-align: left;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        &:before {
            content: '- ';
        }
    }
}